[Unit]
Description=First-run tasks

[Service]
Type=oneshot
ExecStart=/usr/libexec/pulsar-first-run
Restart=on-failure
RestartSec=30
StartLimitInterval=0

[Install]
WantedBy=default.target